@import '../../Style/config';

* {
  box-sizing: border-box;
}


.spanblock {
  text-align: center;
}

#blanklogin {
  margin: 100px;
}

.login-password-input {
  color: red;
  font-size: 20px;
  padding: 10px 20px;
  margin: 100px;
  border: 2px solid black;
}

.logstart {
  margin: 10px;
  color: $bordercl;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 4px;
  &:hover {
    cursor: pointer;
  }
}
