.top-bar {
  background-color: #161626;
  height: 60px;
  margin:0;
}
.unify-text {
  color: white;
  text-align: center;
  margin: 0;
  padding: 15px;
  font-size: 18px;
}

.back-ground {
  background-color: #10101C;
}

.result-tab{
  padding-top: 10px;
  margin-left: 10px;
  height: 160px;
  width: 95%;
  background-color: #222234;
  border-radius: 30px;
  display: inline-block;
}
