.top-bar {
  background-color: #161626;
  height: 60px;
  margin:0;
}
.unify-text {
  color: white;
  text-align: center;
  margin: 0;
  padding: 15px;
  font-size: 18px;
}

.back-ground {
  background-color: #10101C;
}

.result-tab{
  padding-top: 10px;
  margin-left: 10px;
  height: 160px;
  width: 95%;
  background-color: #222234;
  border-radius: 30px;
  display: inline-block;
}


.result_active {
  white-space: nowrap;
}

.blocking{
  padding-left: 15px;
  padding-top: 10px;
}


.result_bar {

}

.result-text{
  color: #FFFFFF;
  padding-left:20px;
  font-size: 23px;
  font-weight: bold;
  margin-block-start: unset;
  margin-block-end: unset;

}

.ment-today{
  margin-top: 80px;
}

.final-ment{
  margin-top: 20px;

}

.result-text2{
  color: #565662;
  padding-left:20px;
  font-size: 30px;
  font-weight: bold;
  margin-block-start: unset;
  margin-block-end: unset;
}

.final-save-button{
  background-color: #D5FF45;
  border-style: solid;
  border-width: 5px;
  height: 70px;
  width: 250px;
  margin-top:15px;
  margin-left: 50px;
}



.final-save-text{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-block-start: unset;
  margin-block-end: unset;
  padding-top:15px;
}
