.btn {
  width : 298px;
  height: 45px;
  font-size: 16px;
  margin: 10px;
  border: 2px solid black;
  cursor: pointer;
  color: white;
  padding: 11px 11px 11px 14px;
  background-color: black;
  border-radius: 2px;
  font-weight: 900;
  border-style: none;

  &:hover {
    opacity: 0.8;
    background: rgb(178,179,178);

  }
}
