.usrcl {
  color: white;
  width: 40px;
  line-height: 40px;
  font-size: 18px;
  float: left;
  margin-left: 35px;
}
.userinfotitl {
  color: white;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 80px;
  text-align: left;
  padding-left: 23px;
}


.skip {
  color: #63636B;
  text-align: right;
  margin-right: 22px;
  margin-top: 19px;
  font-size: 20px;
  margin-bottom: 44px;
}
.prefer {
  text-align: left;
  padding: 11px 10px 0px 13px;
}

.radioinput {
  background: none;
  width: 20px;
  margin: 15px 10px;
  line-height: 40px;
  float: right;
  border: none;
  color: white;
  float: left;

}

.genderbox {
  float: right;
}
