@import '../../Style/config.scss';

.usrcl {
  color: white;
  width: 40px;
  line-height: 40px;
  font-size: 18px;
  right: 0px;
  position:absolute;

}
.userinfotitl {
  color: white;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 80px;
  text-align: left;
  padding-left: 23px;
}

.female {
  color: white;
  width: 40px;
  line-height: 40px;
  font-size: 18px;
  right: 33px;
  position: absolute;
}
.male {
  color: white;
  width: 40px;
  line-height: 40px;
  font-size: 18px;
  right: 100px;
  position: absolute;
}
.usrtitl {
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  width: 90px;
}


.prefer {
  text-align: left;
  padding: 11px 10px 0px 13px;
}

.radiom {
  background: none;
  width: 20px;
  margin: 15px 10px;
  line-height: 40px;
  border: none;
  color: white;
  position: absolute;
  right: 75px;
}

.radiof {
  background: none;
  width: 20px;
  margin: 15px 10px;
  line-height: 40px;
  border: none;
  color: white;
  position: absolute;
  right: 20px;
}
.genderbox {
  float: right;
}

.weihei {
  background: none;
  width: 50px;
  line-height: 40px;
  font-size: 18px;
  border: none;
  color: white;
  float: right;
  margin-right: 40px;
  font-family: 'S-CoreDream-6Bold';
}

.link {
  color: white;
  text-decoration: none;
  float: right;
  margin-bottom: 24px;
}

.birthdayInput {
  background: none;
  width: 150px;
  line-height: 40px;
  font-size: 17px;
  border: none;
  color: white;
  right: -6px;
  position: absolute;
  font-family: 'S-CoreDream-6Bold'

}