.reuslt-wrapper {
    margin-top: 18px;
  }
  
.result-small_dot {
  background-color: #D5FF45;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
}

.status .small_dot {
  background-color: #0be7fc;
  color: #D5FF45;
}

.result_selected-ex-text{
  display: inline-block;
  width: 59px;
  font-size: 17px;
  color: #FFFFFF;
  margin-left: 20px;
  font-weight: bold;
  text-align: center;
}
