
.top-bar{
  padding-top: 15px;
}
.button-up {
  color: #FFFFFF;
  font-size: 16px;
  text-align: right;
  font-weight: bold;
  margin-right: 25px;
  margin-block-start: none;
  margin-top: 0px;

}

.back-ground {
  background-color: #10101C;
  margin-block-start: none;

}

.current-ex{
  margin-bottom: 0;
  margin-top:0;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
}
.time {
  color:#898991;
  text-align: center;
  margin:0;
  font-size: 17px;
}

.clock {
  height: 202px;
  width: 202px;
  background-color: #D5FF45;
  border-radius: 50%;
  display: inline-block;
  margin-left: 85px;
  margin-top: 33px;
}
.ticking {
  font-size: 66px;
  color: #FFFFFF;
  text-align: center;
  margin-top:10px;
  margin-bottom:0;
}

.kingofbutton {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-left: 50%;
}

.active .stopbutton  {
  background-color: #D5FF45;
}

.stopbutton {
  width: 8px;
  height:25px;
  background-color: #565662;
  margin: 3px;
  display: inline-block;
}

.totaltime {
  font-size: 26px;
  color:#FFFFFF;
  maring-top: 60px;
  font-weight: bold;
}






.exname {
  text-align: center;
  color: black;
  font-size: 20px;
}




#timer {
    color: #fff;
    font-size: 4rem;
}
.label {
    font-size: 2.5rem;
    padding-left: 0.25rem;
}




#countdown {
  position: relative;
  margin: auto;
  margin-top: 100px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 100px;
  font-size : 100px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 500px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 114px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 14px;
  stroke: black;
  fill: none;
  animation: countdown 10s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}
